         Security Check Report on Server (localhost) 
----------------------------------------------------------------
 CONTENT                                STATUS
 PrintMode                 -            Disabled 
 SSH port number           -            22
 Root UID                  -            0
 PasswordAuthentication    -            Disabled
 X11Forwarding             -            Enabled
 PermitRootLogin           -            Password not set 
 PermitEmptyPasswords      -            disabled
 HostbasedAuthentication   -            disabled
 PAM (pluggble authentication mode)     Enabled 
 RSAAuthentication         -            Not Present
 LogLevel INFO             -            Disabled  
 syslogFacility            -            Disabled
 StrictModes               -            Disabled
 MaxAuthTries file         -            Not Present
